.register_form .ant-btn-default.btn-sign_up:not(:disabled):hover {
    background: rgb(0, 0, 0);
    color: rgb(194, 65, 12);
    border: 1px solid rgb(194, 65, 12);
}

.register_form .lable {
    margin: 0 0 23px;
    background-color: #505050;
}
