.news .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: rgb(195, 65, 12) !important;
}

.ant-tabs .ant-tabs-tab:hover {
    color: rgb(195, 65, 12) !important;
}

.ant-tabs-ink-bar {
    background-color: transparent;
}

.news .ant-tabs-tab {
    color: rgb(228, 228, 231) !important;
}

.news .ant-tabs-tab-btn {
    font-size: 1.3rem;
    font-weight: bold;
}

.news .ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
    border: none !important;
}

.news .ant-tabs-ink-bar {
    background-color: transparent !important;
}
